/**************************************************************
*
* Author: Xuan Do
* Date: 2/4/2019
*
**************************************************************/

#header {
    position: absolute;
    top: 0;
    left: 0;
}

/* Style all header tags */
h1 {
    font-size: 32px;
}

/* Style all p tags */
p {
    font-size: 12px;
}
